#header {
  max-width: 1880px;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  font-family: var(--font-En);
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#header.sub {
  position: relative;
}

#header.sub > ul.gnb > li > p {
  color: var(--sub-primary-txt);
}

#header.sub > ul.gnb > li > ul.sub-list > li {
  color: var(--sub-tertiary-txt);
}

#header.sub > ul.gnb > li > ul.sub-list:hover > li:hover {
  color: var(--sub-primary-txt);
}

#header h1.logo {
  width: 30%;
}

#header h1.logo img {
  width: 226px;
}

#header > ul.gnb {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 70%;
}

#header > ul.gnb > li {
  max-width: 426px;
  flex: 1;
}

#header > ul.gnb > li > p {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--medium);
  margin-bottom: 4px;
  color: #fff;
}

#header > ul.gnb > li > ul.sub-list {
  display: flex;
  gap: 24px;
}

#header > ul.gnb > li > ul.sub-list > li {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--light);
  color: var(--secondary-txt);
  transition: filter 0.5s ease-in-out;
}

#header > ul.gnb > li > ul.sub-list:hover > li {
  filter: blur(2px);
}

#header > ul.gnb > li > ul.sub-list:hover > li:hover {
  filter: blur(0);
  color: #fff;
}

#header .mo-menu {
  display: none;
}

#header .mo-nav-open {
  display: none;
}

/* ------------------1024px--------------------------- */

@media (max-width: 1024px) {
  #header {
    padding: 40px;
  }

  #header h1.logo {
    position: relative;
    z-index: 60;
  }

  #header h1.logo img {
    width: 186px;
  }

  #header > ul.gnb {
    display: none;
  }

  #header .mo-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    z-index: 100;
  }

  #header .mo-menu::before,
  #header .mo-menu::after,
  #header .mo-menu span {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
  }

  #header.sub .mo-menu::before,
  #header.sub .mo-menu::after,
  #header.sub .mo-menu span {
    background-color: var(--sub-tertiary-txt);
  }

  #header .mo-menu span {
    top: 50%;
    transform: translateY(-50%);
  }

  #header .mo-menu::before {
    top: 0;
  }

  #header .mo-menu::after {
    bottom: 0;
  }

  #header .mo-menu.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  #header .mo-menu.active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  #header .mo-menu.active span {
    opacity: 0;
  }

  #header .mo-nav-open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    display: block;
  }

  body:has(header .mo-nav-open.is-open) {
    overflow: hidden;
  }

  #header .mo-nav-open.is-open {
    opacity: 1;
    visibility: visible;
  }

  #header .mo-nav-open ul {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }

  #header .mo-nav-open ul li {
    font-family: var(--font-En);
    font-size: 48px;
    line-height: 56px;
    font-weight: var(--bold);
    text-align: center;
    display: block;
    margin-bottom: 28px;
    transition: filter 0.5s ease-in-out;
    color: #fff;
  }

  #header .mo-nav-open ul li:last-child {
    margin-bottom: 0;
  }

  .mo-nav-open ul:hover li {
    filter: blur(5px);
  }

  .mo-nav-open ul:hover li:hover {
    filter: blur(0);
  }

  #header .mo-nav-open .email {
    position: absolute;
    bottom: 14px;
    left: 14px;
  }

  #header .mo-nav-open .email span {
    font-family: var(--font-En);
    font-size: 14px;
    line-height: 22px;
    font-weight: var(--light);
    color: var(--secondary-txt);
    margin-bottom: 0;
    display: block;
  }

  #header .mo-nav-open .email p {
    font-family: var(--font-En);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--medium);
    text-decoration: underline;
    color: #fff;
  }
}

@media (max-width: 640px) {
  #header {
    padding: 18px 20px;
  }

  #header .mo-menu {
    width: 26px;
  }

  #header h1.logo img {
    width: 160px;
  }
}

/* ----------------------------footer----------------------- */

footer {
  max-width: 1880px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 180px;
}

footer div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div img {
  max-width: 100%;
  height: auto;
}

footer div span {
  position: absolute;
  font-family: var(--font-En);
  font-size: 18px;
  line-height: 26px;
  font-weight: var(--medium);
  padding: 16px 22px;
  background: #ddd;
  border-radius: 50px;
  animation: float 2.5s ease-in-out infinite alternate;
  color: #fff;
}

@keyframes float {
  0% {
    /* 시작 및 끝 지점: y축으로 움직임 없음 */
    transform: translateY(0);
  }
  50% {
    /* 중간 지점: 위로 10px 이동 (움직임의 정도) */
    transform: translateY(-10px);
  }
  100% {
    /* 다시 시작 지점으로 돌아감 */
    transform: translateY(0);
  }
}

footer div span.purple {
  background: #6f47db;
  top: -14%;
  left: 20.2%;
  animation-duration: 2.7s;
}

footer div span.purple.two {
  top: 32%;
  left: 80%;
}

footer div span.green {
  background: #0ecb7b;
  top: -5%;
  right: 20%;
  animation-delay: 0.5s;
  animation-duration: 2.3s;
}

footer div span.orange {
  background: #f56214;
  bottom: 26%;
  left: 3.1%;
  animation-duration: 1.6s;
  animation-delay: 0.2s;
}

footer div span.orange.two {
  bottom: -1.8%;
  left: 64.4%;
}

@media (max-width: 1024px) {
  footer {
    padding: 0 20px;
    margin-bottom: 140px;
  }

  footer div span {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 14px;
  }

  footer div span.purple.two {
    top: 98%;
    left: 18%;
  }

  footer div span.orange {
    left: -2%;
  }

  footer div span.green {
    top: -8%;
  }

  footer div span.orange.two {
    bottom: -18%;
    left: 64%;
  }

  footer div span.orange.two {
    bottom: -10%;
  }
}

@media (max-width: 640px) {
  footer {
    padding: 0 10px;
    margin-bottom: 46px;
  }

  footer div span {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 10px;
  }

  footer div img {
    min-width: 320px;
  }

  footer div span.purple.two {
    display: none;
  }

  footer div span.orange.two {
    display: none;
  }

  footer div span.orange {
    bottom: -10%;
    left: 0;
  }

  footer div span.green {
    top: 28%;
    right: 2%;
  }

  footer div span.purple {
    top: -22%;
    left: 17.2%;
  }
}
